<h2 class="color-blue-500">{{ collections['frontpage'].title }}</h2>

{% for product in collections['frontpage'].products %}
    <div>
        <h3>{{ product.title }}</h3>
        <p>{{ product.description }}</p>
        <p>{{ product.price | money }}</p>
    </div>
    {{- product.title | link_to: product.url }}
{% endfor %}

{% schema %}
{
    "name": "Frontpage",
    "settings": [],
    "presets": [
        {
            "name": "Frontpage"
        }
    ]
}
{% endschema %}